<h2>Enter StencilJS</h2>

<ul>
  <li><a href="https://stenciljs.com/docs/templating-jsx">JSX</a></li>
  <li><a href="https://stenciljs.com/docs/component-lifecycle">Lifecycle Methods</a></li>
  <li><a href="https://stenciljs.com/blog/how-lazy-loading-web-components-work">Lazy Loading</a></li>
  <li><a href="https://stenciljs.com/docs/hydrate-app">SSR</a></li>
  <li><a href="https://stenciljs.com/docs/end-to-end-testing">End-to-end Testing (Puppeteer)</a></li>
  <li><a href="https://stenciljs.com/docs/screenshot-visual-diff">Visual diffing</a></li>
  <li><a href="https://github.com/ionic-team/stencil-ds-plugins">Framework Bindings</a></li>
  <li><a href="https://stenciljs.com/docs/dev-server">Integrated Dev server</a></li>
  <li>Doc Generation (<a href="https://stenciljs.com/docs/docs-json">JSON</a>, <a href="https://stenciljs.com/docs/docs-readme">Markdown</a>, <a href="https://stenciljs.com/docs/docs-custom">Custom</a>)</li>
</ul>