<h2>Enter StencilJS</h2>

<img src="../assets/stencil-logo.png" />

<aside class="notes">
  Again, StencilJS is a compiler for web components built by the team
  at Ionic. Originally, Ionic created Stencil to use Ionic Framework across multiple frameworks.
  Since then, Ionic has open sourced Stencil to make it available to everyone.
  <br />
  <br />
  You might be curious about the "compiler" part. Stencil puts its components through a build process that turns them into standards-compliant Web Components.
  <br />
  <br />
  Stencil provides a number of features to take advantage of when building web components.
</aside>