<h2>Building Web Components with StencilJS</h2>

<aside class="notes">
  StencilJS is a compiler for web components built by the team at Ionic, famously known for their work
  on Ionic Framework. The goal with StencilJS was to create an easy means to build web components by taking
  inspiration from popular modern frameworks, while also providing solutions to problems that plague web components today.
  <br />
  <br />
  But before we jump into what exactly StencilJS brings to the table and how to use it, we should first
  refresh ourselves on what web components are in the first place.
</aside>