<h2><a href="https://stenciljs.com/docs/component-lifecycle">Lifecycle Methods</a></h2>

<pre>
  <code class="javascript" data-trim>
    componentWillLoad() { ... }
    componentDidLoad() { ... }
    componentWillRender() { ... }
    componentDidRender() { ... }
    componentWillUpdate() { ... }
    componentDidUpdate() { ... }
  </code>
</pre>

<aside class="notes">
  Another similarity to React is Stencil's lifecycle methods that developers can use for their component: <code>componentWillLoad()</code> and <code>componentWillUpdate()</code> are available to manage component behavior. Just like React, use these methods wisely to prevent unnecessary re-renders.
</aside>