<h2><a href="https://stenciljs.com/docs/end-to-end-testing">End-to-End Testing (Puppeteer)</a></h2>

<pre>
  <code class="typescript" data-trim>
    import { newE2EPage } from '@stencil/core/testing';
  </code>
</pre>

<aside class="notes">
  Stencil also provides tools to properly test web components. Helpers like `newSpecPage()` can help you write fast,
  simple unit tests. For testing a component's full behavior between input and interaction states, use their end-to-end testing helpers. Your E2E tests will verify your components behavior in a real browser
  using Puppeteer, showing more accurate results for how your component's behavior in the wild.
</aside>