<h2>Types of Custom Elements</h2>

<ol>
  <li>
    <a href="https://html.spec.whatwg.org/multipage/custom-elements.html#autonomous-custom-element">
      Autonomous custom elements
    </a>
    <pre>
      <code class="html" data-trim>
        &lt;my-button&gt;&lt;/my-button&gt;
      </code>
    </pre>
  </li>
  <li>
    <a href="https://html.spec.whatwg.org/multipage/custom-elements.html#customized-built-in-element">
      Customized built-in elements
    </a>
    <pre>
      <code class="html" data-trim>&lt;button is="my-button"&gt;&lt;/button&gt;</code>
    </pre>
  </li>
</ol>

<aside class="notes">
According to the spec, there are 2 types of custom elements. The first is an Autonomous
custom element, which is defined entirely by the author. That is, they do not extend the functionality
of existing HTML elements. It is up to the author to define the element's behavior and style from scratch.
<br />
<br />
The second type of custom element is the customized built-in element. These extend the functionality of an existing HTML element. This part of the spec is still a work in progress and not yet supported by WebKit.
<br />
<br />
So when people refer to custom elements today, they likely mean autonomous custom elements.
</aside>