<h2>Web Component Libraries</h2>

<ul>
  <li>
    <a href="https://www.polymer-project.org/">
      Polymer
    </a>
  </li>
  <li>
    <a href="https://github.com/Polymer/lit-element">
      LitElement
    </a>
  </li>
  <li>
    <a href="https://slimjs.com/#/getting-started">
      Slim.js
    </a>
  </li>
  <li>
    <a href="https://github.com/skatejs/skatejs">
      Skate.js
    </a>
  </li>
  <li>
    <a href="https://github.com/hybridsjs/hybrids">
      Hybrids
    </a>
  </li>
  <li>
    <a href="https://stenciljs.com/">
      StencilJS
    </a>
  </li>
</ul>

<aside class="notes">
  Today, there are a handful of web component libraries available, each with their own tools, standards,
  and solutions to the problems we covered previously.
  <br />
  <br />
  While we will not be covering the specifics of each one, I think it is still worthwhile to make you aware
  of what options are out there. If you would like to learn more about each one, feel free to pull down
  the repo containing these slides and check out the links above.
  <br />
  <br />
  That said, let's go ahead and dive into what StencilJS has to offer.
</aside>