<h2>What are Web Components?</h2>

<p>"Web components are a set of web platform APIs that allow you to create new custom,
    reusable, encapsulated HTML tags to use in web pages and web apps." - <a href="https://www.webcomponents.org/introduction">webcomponents.org</a>
</p>

<aside class="notes">
Web Components are made of 4 major specifications: Custom Elements, Shadow DOM,
ES Modules, and the HTML template element. When you hear someone refer to Web Components,
they are likely talking about the Custom Elements spec, which was created to standardize how to build nonstandard HTML Elements
in a way modern browsers understand.
</aside>