<h2>Drawbacks of Web Components</h2>

<ul>
    <li>No SSR / Bad SEO</li>
    <li>Performance and bundle size</li>
    <li>Duplicated shared resources</li>
    <li>No standardized way to test components</li>
    <li>Legacy browser support</li>
</ul>

<aside class="notes">
    One of the largest drawbacks of web components is that they need javascript. Naturally this means
    that your site could be unusable when JavaScript breaks, times out, or otherwise fails. It also
    means the initial HTML sent to the client will not be hydrated. This is especially
    bad for SEO if your web components hold content.
    <br />
    <br />
    Another pitfall of building a web component library is bundle size. With vanilla web components,
    each new component will increase your overall bundle, add another component to manually register in the browser,
    and is more code needed to render. Without a bundling and component
    registration strategy, you need to register all of your components with the browser even if they aren't used on your initial page load.
    <br />
    <br />
    Each web component you build may have external resources. This means that any repeated code or imports you use
    across multiple components may be duplicated each time.
    <br />
    <br />
    While there is a standard on how to build
    vanilla web components, there is no standard for how to test them. Besides coming up with your own strategy, you will likely be searching through
    different articles for recommendations on how to test your components.
    <br />
    <br />
    Finally, the web component spec is very new and unevenly supported across modern and legacy browsers.
    The spec is still changing, and not all browsers will support
    those changes at the same time. To support all browsers, it becomes
    your responsibility to ensure the proper polyfills are bundled with your component library. This increases your
    bundle size even further and worsens performance.
    <br />
    <br />
    With all those drawbacks laid out, I may have undermined any desire to check out web components for yourselves. Well, with every problem in
    web development, there will be those that try and solve these problems in their own way. One library that attempts to solve these problems is StencilJS.
</aside>