<h2>Drawbacks of Web Components</h2>

<ul>
    <li>No SSR / Bad SEO</li>
    <li>Performance and Bundle Size</li>
    <li>Duplicate Shared Resources</li>
    <li>No standardized way to test components</li>
    <li>Legacy Browser Support</li>
</ul>

<aside class="notes">
    One of the largest drawbacks of web components is that they only function if javascript is enabled. Naturally this means
    that your site could be rendered unusable for users with no javascript browsers or whom have disabled javascript. It also
    means that the initial HTML being served to the client will not have any of it's internal markup hydrated. This is especially
    bad if you are relying on web components to hold important content that is imperitive for SEO purposes.
    <br />
    <br />
    Another drawback of building a web component library has to do with performance and your overall bundle size. With vanilla web components,
    each new component you increase your overall bundle size, increase the number of components you need to manually register in the browser,
    and increase the amount of code the browser needs to run to render your entire site. Without a custom bundling and component
    registration strategy, you need to register all of your components with the browser even if they arn't being used on your landing page.
    <br />
    <br />
    Each web component that you build will have it's own scoped resources. This means that any common code or utilites you use
    across multiple components may be duplicated for each component you build.
    <br />
    <br />
    If you have decided to try your hand at building vanilla web components, you will find that while there is a standard on how to build
    vanilla web components, there is no standard for how to test them. Besides coming up with your own strategy, you will likely be searching through
    different articles or sites like open-wc.org for reccomendations on how to test your components.
    <br />
    <br />
    Finally, it is worth noting how new the web component spec is and therefore note their support in modern and legacy browsers.
    With the web components spec still undergoing refinement and feature additions, not all browsers are going to support
    each of these changes as they arise or at the same time. If your goal is to support all modern and legacy browsers, then it becomes
    your responsibility to ensure the proper polyfills are bundled with your component library. Naturally, this only increases your overall
    bundle size even further and can only worsen performance for certain users.
    <br />
    <br />
    So with all those drawbacks laid out there, there's a good chance I may have undermined my entire talk and any hopes
    to convince you to check out web components for yourselves, right? Well, with every drawback, problem, or challenge facing
    web development there are always going to be those that try and solve these problems in their own way. We see that with web frameworks
    today, and we also see it happening with web components.
</aside>