<h2>Why Create Web Components?</h2>

<h3>Answer the following:</h3>

<ol>
    <li>
        <strong>Who</strong> will be using them?
    </li>
    <li>
        <strong>What</strong> framework are they using?
    </li>
    <li>
        <strong>When</strong> will they switch frameworks?
    </li>
</ol>

<aside class="notes">
When building a component library, the technology you build them with will have advantages and disadvantages. Before choosing your technology, it is important to answer some questions.
<br />
<br />
First, you need to know who will be using your component library. How many people, teams, or projects
will use your components?
<br />
<br />
Second, you need to know what frameworks your consumers are using. If you are lucky, all your consumers are
using the same front-end framework, so building your components in that framework might be the best choice.
<br />
<br />
However, will they switch frameworks? We all know how fast front-end web development
changes. Even if your
answer to the previous question was a single framework, will they stay on that framework long enough
to use your component library?
<br />
<br />
If you build your library as web components, you are choosing the browser spec and the native API
over the features of a singular framework. In doing so, you are guaranteed that the components you are building
will function in the browser without relying on an external library or framework.
</aside>