<h2>Why create Web Components?</h2>

<h3>Answer the following:</h3>

<ol>
    <li>
        <strong>Who</strong> will be using them?
    </li>
    <li>
        <strong>What</strong> framework are they using?
    </li>
    <li>
        <strong>When</strong> will they switch frameworks?
    </li>
</ol>

<aside class="notes">
If you are building or being asked to build a component library, the technology you choose to build them with will come
with it's own advantages and disadvantages. Before chosing your technology, it is important to answer at least the three questions
you see here.

First, you need to know who will be using your component library, or more specifically, how many people, teams, or projects
will be making use of your components.

Second, among those consumers you need to know what frameworks they are using. If you are lucky, all your consumers may be
using the same front-end framework, and so choosing to build your components in that framework might be the best choice.

However you then need to ask WHEN will they be switching frameworks? We all know how fast the field of front-end web development
changes and evolves. This is evident with all the frameworks that exist today and the rate at which new ones appear. Even if your
answer to the previous question was a single framework, can you know for certain that they will stay on that framework long enough
to take advantage of your component library?

Ultimately, when you choose to build your component library as web components, you are choosing the browser spec and the API
it provides natively over the features of a singular framework. In doing so, you are given the guarantee that the components you building
will function as they are within the browser without any reliance on an external library or framework.
</aside>